@model QuanLyNhanSu.Models.ChamCong

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có muốn xóa không?</h3>
<div>
    <h4>ChamCong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoNgayLam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoNgayLam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoNgayNghi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoNgayNghi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LyDoNghi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LyDoNghi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
