@model IEnumerable<QuanLyNhanSu.Models.ChamCong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách chấm công theo tháng</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SoNgayLam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoNgayNghi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LyDoNghi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SoNgayLam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoNgayNghi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LyDoNghi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TenNV }) |
            @Html.ActionLink("Details", "Details", new { id=item.TenNV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TenNV })
        </td>
    </tr>
}

</table>
