@model QuanLyNhanSu.Models.KyLuat

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KyLuat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiKyLuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiKyLuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MucDoKyLuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MucDoKyLuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LyDo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LyDo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiHinhPhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiHinhPhat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TenNV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
